INPUT_DIR=./files
INITIATOR=C:/Music/
REPLACEMENT=../../music/
KILL_LINE=#EXTINF
HEADER=#EXTM3U
REPLACE_FILE=false
REPLACE_FILE_VALUE=-synology
TARGET_ITEMS=OLD_NAME||LIVE SET
REPLACEMENT_ITEMS=New_Name||Live Set
